.color{
    background-color: #40bfff;
}
.color1{
    color: white;
    padding: 80px;
}
.text1{
    font-size: 30px;
    font-weight: 500;
}
.text2{
    font-size: 15px;
}
.shop{
    border-bottom: solid white;
    width: 80px;
}
.blueshoe{
    margin-left: 230px;
}